@import "../../assets/global";

.Ticket {
  border-radius: 5px;
  background: white;
  box-sizing: border-box;
  width: 100%;

  /* height: 184px; */
  box-shadow: $shadow;
  margin-bottom: 20px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 36px 0px 39px 39px;
  justify-self: start;
  grid-gap: 10px;
}
.TicketHeader {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: 1/4;
  grid-row: 1;
  grid-gap: 10px;
  margin-bottom: 0px;
}
.TicketBottomSpacer {
  grid-column: 1/4;
  grid-row: 2;
}
.TicketPrice {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 600;
  color: $active-bgcolor;
  text-align: start;
  justify-content: left;
  align-items: center;
  display: flex;
}
.TicketCompany {
  background-size: contain;
  background-repeat: no-repeat;
  height: 2.25rem;
}
.TicketSpacer {
}
.TicketRow {
}

.TicketRowHeader {
  letter-spacing: 0.042rem;
  text-transform: uppercase;
  color: $secondary-color;
  text-align: left;
  line-height: 150%;
  font-size: 0.75rem;
  font-weight: 500;
}

.TicketRowValue {
  text-align: left;
  font-weight: 500;
  color: $primary-color;
  font-size: 0.875rem;
  line-height: 150%;
}
