@import "../../assets/global";

.ticket {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-bottom: 20px;
  padding: 20px;
  width: 100%;
  border-radius: 5px;
  box-shadow: $shadow;
  box-sizing: border-box;
  background: $primary-bgcolor;
  text-align: start;
  font-weight: 500;
  line-height: 1.5;
}

.ticket__price {
  grid-column: 1 / span 2;
  font-size: 1.5rem;
  font-weight: 500;
  color: $active-bgcolor;
}
.ticket__company {
  height: 2.9rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}

.ticket__route,
.ticket__lenght,
.ticket__stops {
}

.ticket__route__title,
.ticket__lenght__title,
.ticket__stops__title {
  font-size: 0.75rem;
  color: $secondary-color;
  letter-spacing: 0.042rem;
  text-transform: uppercase;
}
.ticket__route__value,
.ticket__lenght__value,
.ticket__stops__value {
  font-size: 0.875rem;
  color: $primary-color;
}
