.app {
  width: 47rem;
  display: grid;
  grid-template:
    "header header" 8rem
    "filter tabs" min-content
    "filter tickets" 1fr / min-content;
  gap: 20px;
  margin: 0 auto;
}

.header__logo {
  height: 5.5rem;
}

.header {
  align-self: center;
  grid-area: header;
  justify-self: center;
  padding-top: 10px;
}

.tickets {
  grid-area: tickets;
}
.filter__wrapper {
  grid-area: filter;
}
.tabs {
  grid-area: tabs;
}
