.App {
  text-align: center;
}

.App-logo {
  height: 60px;
}

.App-header {
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.App-Container {
  width: 750px;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  margin: 0 auto;
}
.App-RightColumn {
  display: flex;
  flex-direction: column;
  width: 502px;
}
