@import "../../assets/global";

.filter {
  border-radius: 5px;
  background: $primary-bgcolor;
  width: 14.5rem;
  //height: 18rem; //FIXME: убрать
  box-shadow: $shadow;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 0.8rem;
  flex: 1 1 auto;
  font-weight: 400;
  padding-top: 1.4rem;
  padding-bottom: 0.65rem;
}

.filter__title {
  text-transform: uppercase;
  font-size: inherit;
  padding-left: 1.25rem;
  padding-bottom: 0.6rem;
}
.filter__checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  padding: 0.65rem 3.2rem;
  line-height: 1.5;
}
.filter__checkbox:hover {
  background-color: $primary-bghover;
}

.filter__checkbox__input {
  opacity: 0;
}

.filter__checkbox__mark {
  box-sizing: border-box;
  position: absolute;
  top: 0.6rem;
  left: 1.25rem;
  height: 1.25rem;
  width: 1.25rem;
  border: 1px solid #9abbce;
  border-radius: 0.125rem;
  user-select: none;
}
.filter__checkbox__input:checked ~ .filter__checkbox__mark {
  border: 1px solid $active-bgcolor;
}

// checkmark for box
.filter__checkbox__input:checked ~ .filter__checkbox__mark:after {
  position: absolute;
  top: 0.15rem;
  left: 0.4rem;
  content: "";
  width: 0.3rem;
  height: 0.6rem;
  border: 1px solid $active-bgcolor;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.filter__checkbox__input:checked .filter__checkbox__mark {
  box-sizing: border-box;
  position: absolute;
  top: 0.5rem;
  left: 1.25rem;
  height: 1.25rem;
  width: 1.25rem;
  border: 1px solid $active-bgcolor;
  border-radius: 0.125rem;
}
