$font-stack: Helvetica, sans-serif;
$primary-color: #4a4a4a;
$secondary-color: #a0b0b9;
$primary-bgcolor: #ffffff;
$active-bgcolor: #2196f3;
$active-color: white;
$primary-bghover: #f1fcff;

$shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
